In [3]:
import pandas as pd
import ast

In [4]:
nrel = pd.read_csv("dSTAC_US.csv", dtype={"state_fips": "object", "county_fips": "object"})
nrel.head()

,state_abbr,state_fips,county_fips,sector_abbr,energy_value_us_dollars_per_kwh,percent_customers_with_nonzero_sys_size,avg_roof_sqft_customers_with_nonzero_sys_size,avg_roof_sqft_total,hourly_capacity_factor,hourly_capacity_factor_scalar
0,AL,1,1,com,0.0911,0.99,2473.0,4196.0,"[0,0,0,0,0,0,0,799,4190,6338,7315,7366,7049,65...",10000
1,AL,1,1,ind,0.1143,1.00,4196.0,4196.0,"[0,0,0,0,0,0,0,799,4190,6338,7315,7366,7049,65...",10000
2,AL,1,1,res,0.1037,0.54,415.0,349.0,"[0,0,0,0,0,0,0,799,4190,6338,7315,7366,7049,65...",10000
3,AL,1,3,com,0.0743,0.56,2596.0,3973.0,"[0,0,0,0,0,0,0,674,1976,2935,3579,1372,4828,55...",10000
4,AL,1,3,ind,0.0715,0.34,6109.0,3973.0,"[0,0,0,0,0,0,0,674,1976,2935,3579,1372,4828,55...",10000

In [5]:
nrel.dtypes

state_abbr                                        object
state_fips                                        object
county_fips                                       object
sector_abbr                                       object
energy_value_us_dollars_per_kwh                   object
percent_customers_with_nonzero_sys_size          float64
avg_roof_sqft_customers_with_nonzero_sys_size    float64
avg_roof_sqft_total                              float64
hourly_capacity_factor                            object
hourly_capacity_factor_scalar                      int64
dtype: object

In [6]:
nrel["state_fips"] = nrel["state_fips"].apply(lambda x: x.zfill(2))
nrel["county_fips"] = nrel["county_fips"].apply(lambda x: x.zfill(3))

In [7]:
vc = pd.read_csv("hourly ten counties 2023-04-01 to 2025-04-09.csv")
vc.head()

,name,datetime,temp,feelslike,dew,humidity,precip,precipprob,preciptype,snow,...,sealevelpressure,cloudcover,visibility,solarradiation,solarenergy,uvindex,severerisk,conditions,icon,stations
0,"Maricopa County, AZ",2023-04-01T00:00:00,51.5,51.5,29.4,42.42,0.0,0.0,NaN,0.0,...,1019.3,5.7,8.5,0.0,0.0,0,10,Clear,clear-night,"KLUF,72278023183,KPHX,KGXF,KBXK,72278523111"
1,"Maricopa County, AZ",2023-04-01T01:00:00,52.3,52.3,30.0,42.20,0.0,0.0,NaN,0.0,...,1018.8,5.7,9.9,0.0,0.0,0,10,Clear,clear-night,"KLUF,72278023183,KPHX,KGXF,KBXK,72278523111"
2,"Maricopa County, AZ",2023-04-01T02:00:00,50.5,50.5,30.0,45.05,0.0,0.0,NaN,0.0,...,1018.6,3.2,9.7,0.0,0.0,0,10,Clear,clear-night,"KLUF,72278023183,KPHX,KGXF,KBXK,72278523111"
3,"Maricopa County, AZ",2023-04-01T03:00:00,46.5,42.9,30.1,52.67,0.0,0.0,NaN,0.0,...,1018.2,3.2,9.8,0.0,0.0,0,10,Clear,clear-night,"KLUF,72278023183,KPHX,KGXF,KBXK,72278523111"
4,"Maricopa County, AZ",2023-04-01T04:00:00,45.9,42.5,30.1,53.86,0.0,0.0,NaN,0.0,...,1017.7,3.2,9.7,0.0,0.0,0,10,Clear,clear-night,"KLUF,72278023183,KPHX,KGXF,KBXK,72278523111"

In [8]:
vc["name"].unique()

array(['Maricopa County, AZ', 'los angeles, Ca', 'Miami-Dade, FL',
       'Kings County, NY', 'King County, WA', 'Cook county, IL',
       'Clark county, NV', 'Harris County, TX', 'Dane County, WI',
       'Fairfax County, VA'], dtype=object)

In [9]:
full_fips = {
    "Maricopa, AZ": "04013",
    "Los Angeles, CA": "06037",
    "Dade, FL": "12025",
    "Kings, NY": "36047",
    "King, WA": "53033",
    "Cook, IL": "17031",
    "Clark, NV": "32003",
    "Harris, TX": "48201",
    "Dane, WI": "55025",
    "Fairfax, VA": "51059"
}

In [10]:
nrel.dtypes

state_abbr                                        object
state_fips                                        object
county_fips                                       object
sector_abbr                                       object
energy_value_us_dollars_per_kwh                   object
percent_customers_with_nonzero_sys_size          float64
avg_roof_sqft_customers_with_nonzero_sys_size    float64
avg_roof_sqft_total                              float64
hourly_capacity_factor                            object
hourly_capacity_factor_scalar                      int64
dtype: object

In [11]:
nrel["full_fips"] = nrel["state_fips"] + nrel["county_fips"]
nrel["full_fips"]

0       01001
1       01001
2       01001
3       01003
4       01003
        ...
9309    56043
9310    56043
9311    56045
9312    56045
9313    56045
Name: full_fips, Length: 9314, dtype: object

In [12]:
full_fips.values()

dict_values(['04013', '06037', '12025', '36047', '53033', '17031', '32003', '48201', '55025', '51059'])

In [13]:
nrel = nrel[nrel["full_fips"].isin(full_fips.values())]
nrel

,state_abbr,state_fips,county_fips,sector_abbr,energy_value_us_dollars_per_kwh,percent_customers_with_nonzero_sys_size,avg_roof_sqft_customers_with_nonzero_sys_size,avg_roof_sqft_total,hourly_capacity_factor,hourly_capacity_factor_scalar,full_fips
449,AZ,04,013,com,0.0638,1.00,1880.0,1880.0,"[0,0,0,0,0,0,0,264,2843,5097,6196,7248,7482,73...",10000,04013
450,AZ,04,013,ind,0.0748,1.00,1906.0,1906.0,"[0,0,0,0,0,0,0,264,2843,5097,6196,7248,7482,73...",10000,04013
451,AZ,04,013,res,0.0965,1.00,392.0,392.0,"[0,0,0,0,0,0,0,264,2843,5097,6196,7248,7482,73...",10000,04013
527,CA,06,037,com,0.0957,0.91,6141.0,6107.0,"[0,0,0,0,0,0,0,1157,3799,5654,7018,7541,6990,6...",10000,06037
528,CA,06,037,ind,0.0685,1.00,10828.0,10828.0,"[0,0,0,0,0,0,0,1157,3799,5654,7018,7541,6990,6...",10000,06037
529,CA,06,037,res,0.1438,1.00,444.0,444.0,"[0,0,0,0,0,0,0,1157,3799,5654,7018,7541,6990,6...",10000,06037
2027,IL,17,031,com,NaN,0.00,NaN,6407.0,"[0,0,0,0,0,0,0,516,2681,4512,5823,4677,5494,59...",10000,17031
2028,IL,17,031,ind,NaN,0.00,NaN,9348.0,"[0,0,0,0,0,0,0,516,2681,4512,5823,4677,5494,59...",10000,17031
2029,IL,17,031,res,NaN,0.00,NaN,336.0,"[0,0,0,0,0,0,0,516,2681,4512,5823,4677,5494,59...",10000,17031
5792,NV,32,003,com,0.0598,1.00,11746.0,11746.0,"[0,0,0,0,0,0,0,563,784,3051,4531,5482,2755,231...",10000,32003
5793,NV,32,003,ind,0.0623,0.90,12344.0,11746.0,"[0,0,0,0,0,0,0,563,784,3051,4531,5482,2755,231...",10000,32003
5794,NV,32,003,res,0.1057,1.00,285.0,285.0,"[0,0,0,0,0,0,0,563,784,3051,4531,5482,2755,231...",10000,32003
5909,NY,36,047,com,0.0517,1.00,10206.0,10206.0,"[0,0,0,0,0,0,0,0,155,297,429,488,486,417,548,3...",10000,36047
5910,NY,36,047,ind,NaN,0.00,NaN,10206.0,"[0,0,0,0,0,0,0,0,155,297,429,488,486,417,548,3...",10000,36047
5911,NY,36,047,res,0.091,1.00,130.0,130.0,"[0,0,0,0,0,0,0,0,155,297,429,488,486,417,548,3...",10000,36047
7758,TX,48,201,com,0.0848,1.00,5313.0,5313.0,"[0,0,0,0,0,0,0,195,1618,1150,1976,2053,916,107...",10000,48201
7759,TX,48,201,ind,NaN,0.00,NaN,7303.0,"[0,0,0,0,0,0,0,195,1618,1150,1976,2053,916,107...",10000,48201
7760,TX,48,201,res,0.1267,1.00,619.0,619.0,"[0,0,0,0,0,0,0,195,1618,1150,1976,2053,916,107...",10000,48201
8390,VA,51,059,com,NaN,0.00,NaN,6689.0,"[0,0,0,0,0,0,0,0,142,818,577,556,578,530,1088,...",10000,51059
8391,VA,51,059,ind,0.0816,0.13,1752.0,6689.0,"[0,0,0,0,0,0,0,0,142,818,577,556,578,530,1088,...",10000,51059
8392,VA,51,059,res,NaN,0.00,NaN,262.0,"[0,0,0,0,0,0,0,0,142,818,577,556,578,530,1088,...",10000,51059
8795,WA,53,033,com,NaN,0.00,NaN,4487.0,"[0,0,0,0,0,0,0,0,1674,4286,5802,6271,6153,4283...",10000,53033
8796,WA,53,033,ind,NaN,0.00,NaN,3117.0,"[0,0,0,0,0,0,0,0,1674,4286,5802,6271,6153,4283...",10000,53033
8797,WA,53,033,res,NaN,0.00,NaN,440.0,"[0,0,0,0,0,0,0,0,1674,4286,5802,6271,6153,4283...",10000,53033
8900,WI,55,025,com,0.0762,0.69,7431.0,7375.0,"[0,0,0,0,0,0,0,120,1687,3315,4097,1328,2213,44...",10000,55025
8901,WI,55,025,ind,0.084,0.89,7093.0,6446.0,"[0,0,0,0,0,0,0,120,1687,3315,4097,1328,2213,44...",10000,55025
8902,WI,55,025,res,0.1242,1.00,426.0,426.0,"[0,0,0,0,0,0,0,120,1687,3315,4097,1328,2213,44...",10000,55025

In [20]:
state_abbr = "AZ"
df = nrel[nrel["state_abbr"] == state_abbr]

com = ast.literal_eval(df[df["sector_abbr"] == "com"]["hourly_capacity_factor"].values[0])
ind = ast.literal_eval(df[df["sector_abbr"] == "ind"]["hourly_capacity_factor"].values[0])
res = ast.literal_eval(df[df["sector_abbr"] == "res"]["hourly_capacity_factor"].values[0])
print(len(res))

avg_hourly_capacity_factor = [(com[i] + ind[i] + res[i]) / 3 for i in range(8760)]   # hours per year
avg_hourly_capacity_factor

def agg_func(x):
    print(x)
    print(type(x))
    return

df.groupby("state_abbr").agg(agg_func)

# df.groupby("hourly_capacity_factor").mean()
# nrel["avg_hourly_capacity_factor"] = nrel.apply(lambda x: )
# for state_abbr in nrel["state_abbr"].unique():
#     print(nrel["state_abbr"] == state_abbr)
    # com = nrel[nrel["state_abbr"] == state_abbr]
    # print(com)
    # com = nrel[(nrel["state_abbr"] == state_abbr) and (nrel["sector_abbr"] == "com")]
    # print(com)

8760
449    04
450    04
451    04
Name: state_fips, dtype: object
<class 'pandas.core.series.Series'>
449    013
450    013
451    013
Name: county_fips, dtype: object
<class 'pandas.core.series.Series'>
449    com
450    ind
451    res
Name: sector_abbr, dtype: object
<class 'pandas.core.series.Series'>
449    0.0638
450    0.0748
451    0.0965
Name: energy_value_us_dollars_per_kwh, dtype: object
<class 'pandas.core.series.Series'>
449    1.0
450    1.0
451    1.0
Name: percent_customers_with_nonzero_sys_size, dtype: float64
<class 'pandas.core.series.Series'>
449    1880.0
450    1906.0
451     392.0
Name: avg_roof_sqft_customers_with_nonzero_sys_size, dtype: float64
<class 'pandas.core.series.Series'>
449    1880.0
450    1906.0
451     392.0
Name: avg_roof_sqft_total, dtype: float64
<class 'pandas.core.series.Series'>
449    [0,0,0,0,0,0,0,264,2843,5097,6196,7248,7482,73...
450    [0,0,0,0,0,0,0,264,2843,5097,6196,7248,7482,73...
451    [0,0,0,0,0,0,0,264,2843,5097,6196,7248,7482,73...
Name: hourly_capacity_factor, dtype: object
<class 'pandas.core.series.Series'>
449    10000
450    10000
451    10000
Name: hourly_capacity_factor_scalar, dtype: int64
<class 'pandas.core.series.Series'>
449    04013
450    04013
451    04013
Name: full_fips, dtype: object
<class 'pandas.core.series.Series'>

,state_fips,county_fips,sector_abbr,energy_value_us_dollars_per_kwh,percent_customers_with_nonzero_sys_size,avg_roof_sqft_customers_with_nonzero_sys_size,avg_roof_sqft_total,hourly_capacity_factor,hourly_capacity_factor_scalar,full_fips
state_abbr,,,,,,,,,,
AZ,None,None,None,None,None,None,None,None,None,None

In [18]:
import pandas as pd

# Sample DataFrame
data = {'A': [1, 2, 3, 4, 5, 6], 'B': [5, 4, 3, 2, 1, 0]}
df = pd.DataFrame(data)

# Adding a grouping column to identify sets of 3 rows
df['group'] = df.index // 3
print(df["group"])

# Define your custom function
def custom_function(x):
    print(x)  # Print the Series object for each group
    return x.sum()

# Grouping by the new column and applying the custom function
# condensed_df = df.groupby('group').agg(custom_function).reset_index(drop=True)

# print(condensed_df)

0    0
1    0
2    0
3    1
4    1
5    1
Name: group, dtype: int64